DATABASE_URL=postgresql://user:pass@host:5432/dbname
JWT_SECRET=change-me-random-string
BOT_TOKEN=6201866751:AAGD1Ud3LvAWCPp5dj0iU97cgrBkS-thnYg
TG_BOOKING_CHAT_ID=-5132805901
TG_APKA_CHAT_ID=-1002425111120
SYNC_SECRET=change-me-random-string
APP_PORT=3001
